/* src/App.css */

/* .btn--circle {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  transition: 0.1s;
  -webkit-box-shadow: 0 5px 0 #afafaf;
  box-shadow: 0 5px 0 #afafaf;
  border: solid 3px rgb(133, 133, 133);
}

.btn--circle:active {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 0px 0 #afafaf;
  box-shadow: 0 0px 0 #afafaf;
} */
